/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

.env
/sample_code
sample_code/
sample_code

# rspec failure tracking
.rspec_status
charge_test.rb
mobile_money_test.rb
account_payment_test.rb
bank_transfer_test.rb
ussd_test.rb
qr_test.rb
tokenized_test.rb
transactions_test.rb
transfers_test.rb
bank_test.rb
misc_test.rb
payment_plan_test.rb
beneficiaries_test.rb
subscriptions_test.rb
virtual_card_test.rb
subaccount_test.rb
settlements_test.rb
otp_test.rb
virtual_account_number_test.rb
bills_test.rb
preauth_test.rb
rspec_results.html
flutterwave_sdk-0.1.0.gem
